In [2]:
import pandas as pd

In [3]:
temp3 = pd.Series([50, 60, 90, 95, 60], index=['T', 'W', 'Th', 'S', 'M'])

## NaN

In [172]:
temp6 = pd.Series([1, 3, None])

In [171]:
temp6

0     1
1     3
2   NaN
dtype: float64

In [173]:
pd.Series([None])

0    None
dtype: object

In [174]:
import numpy as np

In [175]:
pd.Series([np.nan])

0   NaN
dtype: float64

In [176]:
temp3

T     50
W     60
Th    90
S     95
M     60
dtype: int64

In [179]:
temp7 = temp3.append(pd.Series([100, None], index=['F', 'Sun']))

In [180]:
temp7

T       50
W       60
Th      90
S       95
M       60
F      100
Sun    NaN
dtype: float64

In [181]:
len(temp7)

7

In [182]:
temp7.count()

6

In [183]:
temp7 + 2

T       52
W       62
Th      92
S       97
M       62
F      102
Sun    NaN
dtype: float64

In [184]:
temp7.mean()

75.833333333333329

In [187]:
mask = temp7.isnull()
temp7[~mask]

T      50
W      60
Th     90
S      95
M      60
F     100
dtype: float64

In [188]:
temp7.isnull()

T      False
W      False
Th     False
S      False
M      False
F      False
Sun     True
dtype: bool

In [189]:
temp7.isnull().any()

True

In [190]:
temp7.isnull().all()

False

In [192]:
mask = temp7.notnull()
temp7[mask]

T      50
W      60
Th     90
S      95
M      60
F     100
dtype: float64

In [193]:
temp7.dropna()

T      50
W      60
Th     90
S      95
M      60
F     100
dtype: float64

In [194]:
temp7.fillna(-1)

T       50
W       60
Th      90
S       95
M       60
F      100
Sun     -1
dtype: float64

In [195]:
temp7.fillna(0)

T       50
W       60
Th      90
S       95
M       60
F      100
Sun      0
dtype: float64

In [197]:
temp7

T       50
W       60
Th      90
S       95
M       60
F      100
Sun    NaN
dtype: float64

In [196]:
temp7.fillna(method='ffill')

T       50
W       60
Th      90
S       95
M       60
F      100
Sun    100
dtype: float64

In [198]:
temp7.fillna(method='bfill')

T       50
W       60
Th      90
S       95
M       60
F      100
Sun    NaN
dtype: float64