# Pandas Data Types

In [1]:
import pandas as pd

In [2]:
ser = pd.Series(range(10))

In [5]:
ser

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [3]:
ser2 = pd.Series([1.1, 2, 3, 4])

In [4]:
ser2

0    1.1
1    2.0
2    3.0
3    4.0
dtype: float64

In [6]:
ser3 = pd.Series(['a', 'b', 'c'])

In [7]:
ser3

0    a
1    b
2    c
dtype: object

In [8]:
ser3.dtype

dtype('O')

In [9]:
ser4 = pd.Series([{}, [], (2, 3,)])

In [10]:
ser4

0        {}
1        []
2    (2, 3)
dtype: object

In [14]:
ser5 = pd.Series(['2015-01-01', '2016-01-01'])

In [12]:
ser5

0    2015-01-01
1    2016-01-01
dtype: object

In [15]:
ser6 = pd.to_datetime(ser5)

In [16]:
ser6

0   2015-01-01
1   2016-01-01
dtype: datetime64[ns]

In [17]:
ser7 = pd.Series(['Prius', 'Accord', 'Prius', 'Camry'])

In [18]:
ser7

0     Prius
1    Accord
2     Prius
3     Camry
dtype: object

In [19]:
ser8 = pd.Series(['Prius', 'Accord', 'Prius', 'Camry'], dtype='category')

In [20]:
ser8

0     Prius
1    Accord
2     Prius
3     Camry
dtype: category
Categories (3, object): [Accord, Camry, Prius]