In [1]:
import pandas as pd

In [ ]:
temp3 = pd.Series([50, 60, 90, 95, 60], index=['T', 'W', 'Th', 'S', 'M'])

## Serialization

In [214]:
temp3

T     50
W     60
Th    90
S     95
M     60
dtype: int64

In [215]:
temp3.to_csv('/tmp/temp.csv')

In [216]:
cat /tmp/temp.csv

T,50
W,60
Th,90
S,95
M,60

In [217]:
temp3.to_csv('/tmp/temp.csv', header=True)

In [218]:
cat /tmp/temp.csv

,0
T,50
W,60
Th,90
S,95
M,60

In [219]:
temp3.name = 'Temps'

In [220]:
temp3.to_csv('/tmp/temp.csv', header=True)

In [221]:
cat /tmp/temp.csv

,Temps
T,50
W,60
Th,90
S,95
M,60

In [222]:
temp3.to_csv('/tmp/temp.csv', header=True, index_label='Index')

In [223]:
cat /tmp/temp.csv

Index,Temps
T,50
W,60
Th,90
S,95
M,60

In [224]:
temp8 = pd.Series.from_csv('/tmp/temp.csv')

In [225]:
temp8

Index    Temps
T           50
W           60
Th          90
S           95
M           60
dtype: object

In [232]:
temp9 = pd.Series.from_csv('/tmp/temp.csv', header=0)

In [233]:
temp9

Index
T     50
W     60
Th    90
S     95
M     60
Name: Temps, dtype: int64

In [228]:
temp8.values

array(['Temps', '50', '60', '90', '95', '60'], dtype=object)

In [229]:
df = pd.read_csv('/tmp/temp.csv')

In [230]:
df

  Index  Temps
0     T     50
1     W     60
2    Th     90
3     S     95
4     M     60

In [234]:
df = pd.read_csv('/tmp/temp.csv', index_col=0)

In [235]:
df

       Temps
Index
T         50
W         60
Th        90
S         95
M         60

In [236]:
df.Temps

Index
T     50
W     60
Th    90
S     95
M     60
Name: Temps, dtype: int64