In [1]:
import numpy as np
import pandas as pd

df1 = pd.DataFrame({'name': ['John', 'George', 'Ringo'],
                   'color': ['Blue', 'Blue', 'Purple']})
df2 = pd.DataFrame({'name': ['Paul', 'George', 'Ringo'],
                   'carcolor': ['Red', 'Blue', np.nan]},
                  index=[3, 1, 2])

In [2]:
df1

    color    name
0    Blue    John
1    Blue  George
2  Purple   Ringo

In [3]:
df2

  carcolor    name
3      Red    Paul
1     Blue  George
2      NaN   Ringo

## Right Join

In [30]:
df1.merge(df2, how='right')

    color    name carcolor
0    Blue  George     Blue
1  Purple   Ringo      NaN
2     NaN    Paul      Red

In [31]:
df1.merge(df2, how='right', indicator=True)

    color    name carcolor      _merge
0    Blue  George     Blue        both
1  Purple   Ringo      NaN        both
2     NaN    Paul      Red  right_only

In [33]:
df1.merge(df2, how='right', indicator=True, left_on='color', right_on='carcolor')

  color  name_x carcolor  name_y      _merge
0  Blue    John     Blue  George        both
1  Blue  George     Blue  George        both
2   NaN     NaN      Red    Paul  right_only
3   NaN     NaN      NaN   Ringo  right_only