In [1]:
import numpy as np
import pandas as pd

df1 = pd.DataFrame({'name': ['John', 'George', 'Ringo'],
                   'color': ['Blue', 'Blue', 'Purple']})
df2 = pd.DataFrame({'name': ['Paul', 'George', 'Ringo'],
                   'carcolor': ['Red', 'Blue', np.nan]},
                  index=[3, 1, 2])

In [2]:
df1

    color    name
0    Blue    John
1    Blue  George
2  Purple   Ringo

In [3]:
df2

  carcolor    name
3      Red    Paul
1     Blue  George
2      NaN   Ringo

## Outer Joins

In [19]:
df1.merge(df2, how='outer')

    color    name carcolor
0    Blue    John      NaN
1    Blue  George     Blue
2  Purple   Ringo      NaN
3     NaN    Paul      Red

In [20]:
df1.merge(df2, how='outer', indicator=True)

    color    name carcolor      _merge
0    Blue    John      NaN   left_only
1    Blue  George     Blue        both
2  Purple   Ringo      NaN        both
3     NaN    Paul      Red  right_only

In [21]:
df1.merge(df2, how='outer', indicator=True, left_on='color', right_on='carcolor')

    color  name_x carcolor  name_y      _merge
0    Blue    John     Blue  George        both
1    Blue  George     Blue  George        both
2  Purple   Ringo      NaN     NaN   left_only
3     NaN     NaN      Red    Paul  right_only
4     NaN     NaN      NaN   Ringo  right_only

In [22]:
df1.merge(df2, how='outer', indicator=True, left_index=True, right_index=True)

    color  name_x carcolor  name_y      _merge
0    Blue    John      NaN     NaN   left_only
1    Blue  George     Blue  George        both
2  Purple   Ringo      NaN   Ringo        both
3     NaN     NaN      Red    Paul  right_only

In [23]:
df1.merge(df2, how='outer', indicator=True, left_index=True, right_index=True,
         suffixes=['_fav', '_car'])

    color name_fav carcolor name_car      _merge
0    Blue     John      NaN      NaN   left_only
1    Blue   George     Blue   George        both
2  Purple    Ringo      NaN    Ringo        both
3     NaN      NaN      Red     Paul  right_only