In [1]:
import numpy as np
import pandas as pd

df1 = pd.DataFrame({'name': ['John', 'George', 'Ringo'],
                   'color': ['Blue', 'Blue', 'Purple']})
df2 = pd.DataFrame({'name': ['Paul', 'George', 'Ringo'],
                   'carcolor': ['Red', 'Blue', np.nan]},
                  index=[3, 1, 2])

In [2]:
df1

    color    name
0    Blue    John
1    Blue  George
2  Purple   Ringo

In [3]:
df2

  carcolor    name
3      Red    Paul
1     Blue  George
2      NaN   Ringo

## Inner Join

In [13]:
df1.merge(df2)

    color    name carcolor
0    Blue  George     Blue
1  Purple   Ringo      NaN

In [14]:
df1.merge(df2, how='inner')

    color    name carcolor
0    Blue  George     Blue
1  Purple   Ringo      NaN

In [15]:
df1.merge(df2, how='inner', indicator=True)

    color    name carcolor _merge
0    Blue  George     Blue   both
1  Purple   Ringo      NaN   both

In [16]:
df1.merge(df2, how='inner', indicator=True, left_on='color', right_on='carcolor')

  color  name_x carcolor  name_y _merge
0  Blue    John     Blue  George   both
1  Blue  George     Blue  George   both

In [17]:
df1.merge(df2, how='inner', indicator=True, left_on='color', right_on='carcolor',
         suffixes=('_fav', '_car'))

  color name_fav carcolor name_car _merge
0  Blue     John     Blue   George   both
1  Blue   George     Blue   George   both