In [1]:
import numpy as np
import pandas as pd

df1 = pd.DataFrame({'name': ['John', 'George', 'Ringo'],
                   'color': ['Blue', 'Blue', 'Purple']})
df2 = pd.DataFrame({'name': ['Paul', 'George', 'Ringo'],
                   'carcolor': ['Red', 'Blue', np.nan]},
                  index=[3, 1, 2])

In [2]:
df1

    color    name
0    Blue    John
1    Blue  George
2  Purple   Ringo

In [3]:
df2

  carcolor    name
3      Red    Paul
1     Blue  George
2      NaN   Ringo

## Concat Rows

In [4]:
pd.concat([df1, df2])

  carcolor   color    name
0      NaN    Blue    John
1      NaN    Blue  George
2      NaN  Purple   Ringo
3      Red     NaN    Paul
1     Blue     NaN  George
2      NaN     NaN   Ringo

In [6]:
pd.concat([df1, df2], join='inner')

     name
0    John
1  George
2   Ringo
3    Paul
1  George
2   Ringo

In [7]:
pd.concat([df1, df2], verify_integrity=True)

ValueError: Indexes have overlapping values: [1, 2]

In [8]:
pd.concat([df1, df2], ignore_index=True)

  carcolor   color    name
0      NaN    Blue    John
1      NaN    Blue  George
2      NaN  Purple   Ringo
3      Red     NaN    Paul
4     Blue     NaN  George
5      NaN     NaN   Ringo