In [1]:
import numpy as np
import pandas as pd

df1 = pd.DataFrame({'name': ['John', 'George', 'Ringo'],
                   'color': ['Blue', 'Blue', 'Purple']})
df2 = pd.DataFrame({'name': ['Paul', 'George', 'Ringo'],
                   'carcolor': ['Red', 'Blue', np.nan]},
                  index=[3, 1, 2])

In [2]:
df1

    color    name
0    Blue    John
1    Blue  George
2  Purple   Ringo

In [3]:
df2

  carcolor    name
3      Red    Paul
1     Blue  George
2      NaN   Ringo

## Index Joins

In [34]:
df1.join(df2)

ValueError: columns overlap but no suffix specified: Index(['name'], dtype='object')

In [35]:
df1.join(df2, lsuffix='_fav')

    color name_fav carcolor    name
0    Blue     John      NaN     NaN
1    Blue   George     Blue  George
2  Purple    Ringo      NaN   Ringo

In [36]:
df1.join(df2, lsuffix='_fav', how='outer')

    color name_fav carcolor    name
0    Blue     John      NaN     NaN
1    Blue   George     Blue  George
2  Purple    Ringo      NaN   Ringo
3     NaN      NaN      Red    Paul

In [37]:
df1.join(df2, lsuffix='_fav', how='inner')

    color name_fav carcolor    name
1    Blue   George     Blue  George
2  Purple    Ringo      NaN   Ringo

In [38]:
df1.join(df2, lsuffix='_fav', how='right')

    color name_fav carcolor    name
3     NaN      NaN      Red    Paul
1    Blue   George     Blue  George
2  Purple    Ringo      NaN   Ringo