In [7]:
values=list(range(1,11))
values

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
import pandas as pd

In [9]:
dates = pd.date_range('20160101', periods=10)
dates

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [11]:
my_series = pd.Series(values,name='Val',index=dates)
my_series

2016-01-01     1
2016-01-02     2
2016-01-03     3
2016-01-04     4
2016-01-05     5
2016-01-06     6
2016-01-07     7
2016-01-08     8
2016-01-09     9
2016-01-10    10
Freq: D, Name: Val, dtype: int64

In [13]:
values2 = [x * 1000 for x in range(2,11)]
values2

[2000, 3000, 4000, 5000, 6000, 7000, 8000, 9000, 10000]

In [14]:
dates2 = pd.date_range('20160102', periods=9)
dates2

DatetimeIndex(['2016-01-02', '2016-01-03', '2016-01-04', '2016-01-05',
               '2016-01-06', '2016-01-07', '2016-01-08', '2016-01-09',
               '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [16]:
my_series2 = pd.Series(values2, name='Val', index=dates2)
my_series2

2016-01-02     2000
2016-01-03     3000
2016-01-04     4000
2016-01-05     5000
2016-01-06     6000
2016-01-07     7000
2016-01-08     8000
2016-01-09     9000
2016-01-10    10000
Freq: D, Name: Val, dtype: int64

In [18]:
my_series3 = my_series.add(my_series2,fill_value=0)
my_series3

2016-01-01        1.0
2016-01-02     2002.0
2016-01-03     3003.0
2016-01-04     4004.0
2016-01-05     5005.0
2016-01-06     6006.0
2016-01-07     7007.0
2016-01-08     8008.0
2016-01-09     9009.0
2016-01-10    10010.0
Freq: D, Name: Val, dtype: float64

In [21]:
type(my_series3.ix[0])

numpy.float64

In [25]:
dates3 = pd.date_range('20160101',periods=12, freq='MS')
dates3

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01'],
              dtype='datetime64[ns]', freq='MS')