In [2]:
import pandas as pd

In [3]:
cols = {'name': ['Paul', 'George', 'Ringo'],
       'age': [22, 21, 23]}
df = pd.DataFrame(cols)

In [4]:
df

   age    name
0   22    Paul
1   21  George
2   23   Ringo

In [11]:
df.to_csv('/tmp/beat.csv', index=False)

## Reading CSV Files

In [12]:
filename = '/tmp/beat.csv'
df = pd.read_csv(filename)

In [13]:
df

   Unnamed: 0  age    name
0           0   22    Paul
1           1   21  George
2           2   23   Ringo