In [1]:
import pandas as pd

In [2]:
cols = {'name': ['Paul', 'George', 'Ringo'],
       'age': [22, 21, 23]}
df = pd.DataFrame(cols)

In [3]:
df

   age    name
0   22    Paul
1   21  George
2   23   Ringo

In [8]:
df.age

0    22
1    21
2    23
Name: age, dtype: int64

In [10]:
df.describe()

        age
count   3.0
mean   22.0
std     1.0
min    21.0
25%    21.5
50%    22.0
75%    22.5
max    23.0