In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({'Name': 'Paul,George,Ringo'.split(','),
                  'growth': [.5, .7, 1.2]})

## Product
Various "joins" are supported

In [47]:
 inst_df = pd.DataFrame(
      [{'Name': 'John', 'Inst': 'guitar'},
          {'Name': 'Ringo', 'Inst': 'drums'}])

In [48]:
# inner join
pd.merge(df, inst_df, how='inner', on='Name')

    Name  growth   Inst
0  Ringo     1.2  drums

In [56]:
# inner join default
pd.merge(df, inst_df)

    Name  growth   Inst
0  Ringo     1.2  drums

In [49]:
# inner join
pd.merge(df, inst_df, how='outer', on='Name')

     Name  growth    Inst
0    Paul     0.5     NaN
1  George     0.7     NaN
2   Ringo     1.2   drums
3    John     NaN  guitar

In [50]:
# inner join
pd.merge(df, inst_df, how='left', on='Name')

     Name  growth   Inst
0    Paul     0.5    NaN
1  George     0.7    NaN
2   Ringo     1.2  drums

In [51]:
# inner join
pd.merge(df, inst_df, how='right', on='Name')

    Name  growth    Inst
0  Ringo     1.2   drums
1   John     NaN  guitar

In [55]:
# if column names don't match up we can use left_on, right_on
inst2 = inst_df.copy()
inst2 = inst2.rename(columns={'Name': 'first'})
pd.merge(df, inst2, how='right', left_on='Name', right_on='first')

    Name  growth    Inst  first
0  Ringo     1.2   drums  Ringo
1    NaN     NaN  guitar   John

In [58]:
# can merge on index, doesn't make sense here
pd.merge(df, inst_df, left_index=True, right_index=True)

   Name_x  growth    Inst Name_y
0    Paul     0.5  guitar   John
1  George     0.7   drums  Ringo

In [61]:
# can merge on index, 
pd.merge(df.set_index('Name'), inst_df.set_index("Name"), left_index=True, right_index=True)

       growth   Inst
Name
Ringo     1.2  drums