In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({'Name': 'Paul,George,Ringo'.split(','),
                  'growth': [.5, .7, 1.2]})


## Selection
Allows for querying with logical operators (and, or, not)

In [4]:
df

     Name  growth
0    Paul     0.5
1  George     0.7
2   Ringo     1.2

In [5]:
# select row(s)
df[df.Name == 'Paul']

   Name  growth
0  Paul     0.5

In [7]:

df[df.Name.str.contains('o')]

     Name  growth
1  George     0.7
2   Ringo     1.2

In [8]:
# and

df[df.Name == 'Paul' & df.growth > .4]

TypeError: cannot compare a dtyped [float64] array with a scalar of type [bool]

In [16]:
# and

df[(df.Name == 'Paul') and (df.growth > .4)]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [9]:
# and

df[(df.Name == 'Paul') & (df.growth > .4)]

   Name  growth
0  Paul     0.5

In [13]:
#  and 
# might need to install numexpr if not provided

df.query('Name == "Paul" and growth > .4')

   Name  growth
0  Paul     0.5

In [17]:
# or 
df[(df.Name == 'Paul') | (df.Name == 'George')]

     Name  growth
0    Paul     0.5
1  George     0.7

In [18]:
# or 
df.query('Name == "Paul" or Name=="George"')

     Name  growth
0    Paul     0.5
1  George     0.7

In [19]:
# not
df[~(df.Name == 'John')]

     Name  growth
0    Paul     0.5
1  George     0.7
2   Ringo     1.2

In [20]:
# not
df.query('Name != "John"')

     Name  growth
0    Paul     0.5
1  George     0.7
2   Ringo     1.2

In [21]:
# not
df.query('not Name == "John"')

     Name  growth
0    Paul     0.5
1  George     0.7
2   Ringo     1.2

In [41]:
# can also pull out rows based on position
df.head(2)

     Name  growth
0    Paul     0.5
1  George     0.7

In [42]:
df.iloc[[2,1]]

     Name  growth
2   Ringo     1.2
1  George     0.7

In [46]:
df[:2]

     Name  growth
0    Paul     0.5
1  George     0.7