In [1]:
import io

import pandas as pd

In [2]:
data = '''Name|Age|Color
Fred|22|Red
Sally|29|Blue
George|24|
Fido||Black'''

df = pd.read_table(io.StringIO(data), sep='|')

In [3]:
df

     Name  Age  Color
0    Fred   22    Red
1   Sally   29   Blue
2  George   24    NaN
3    Fido  NaN  Black

## Filter Columns

In [4]:
df[['Name', 'Age']]

     Name  Age
0    Fred   22
1   Sally   29
2  George   24
3    Fido  NaN

In [6]:
mask = df.columns.str.startswith('A')
mask

array([False,  True, False], dtype=bool)

In [8]:
df.iloc[:, mask]

   Age
0   22
1   29
2   24
3  NaN