In [1]:
import io

import pandas as pd

In [2]:
data = '''Name|Age|Color
Fred|22|Red
Sally|29|Blue
George|24|
Fido||Black'''

df = pd.read_table(io.StringIO(data), sep='|')

In [3]:
df

     Name  Age  Color
0    Fred   22    Red
1   Sally   29   Blue
2  George   24    NaN
3    Fido  NaN  Black

## Boolean Operations for Filtering

In [30]:
mask = df.Name.str.startswith('F')
df[mask]

   Name  Age  Color
0  Fred   22    Red
3  Fido  NaN  Black

In [32]:
mask2 = df['Age'] < 25
df[mask2]

     Name  Age Color
0    Fred   22   Red
2  George   24   NaN

In [33]:
df[mask & mask2]

   Name  Age Color
0  Fred   22   Red

In [35]:
df[mask | mask2]

     Name  Age  Color
0    Fred   22    Red
2  George   24    NaN
3    Fido  NaN  Black

In [38]:
df[df.Name.str.startswith('F') & df.Age < 25]

     Name  Age  Color
0    Fred   22    Red
1   Sally   29   Blue
2  George   24    NaN
3    Fido  NaN  Black

In [39]:
df[(df.Name.str.startswith('F')) & (df.Age < 25)]

   Name  Age Color
0  Fred   22   Red

In [40]:
df[~mask]

     Name  Age Color
1   Sally   29  Blue
2  George   24   NaN

In [41]:
~mask

0    False
1     True
2     True
3    False
Name: Name, dtype: bool

In [45]:
not_mask = mask != True
not_mask

0    False
1     True
2     True
3    False
Name: Name, dtype: bool

In [46]:
mask

0     True
1    False
2    False
3     True
Name: Name, dtype: bool