In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame({'name':['Adam', 'Bob', 'Dave', 'Fred'],
                  'age': [15, 16, 16, 15],
                  'test1': [95, 81, 89, None],
                  'test2': [80, 82, 84, 88],
                  'teacher': ['Ashby', 'Ashby', 'Jones', 'Jones']})

In [4]:
df

   age  name teacher  test1  test2
0   15  Adam   Ashby     95     80
1   16   Bob   Ashby     81     82
2   16  Dave   Jones     89     84
3   15  Fred   Jones    NaN     88

## Pivoting

In [26]:
costs = pd.DataFrame({'item': ['bacon', 'cheese', 'bacon'],
                     'cost': [2.5, 4.5, 3.2],
                     'store': ['SuperS', 'DollarM', 'DollarM'],
                     'day': ['M', 'M', 'M']})

In [30]:
costs

   cost day    item    store
0   2.5   M   bacon   SuperS
1   4.5   M  cheese  DollarM
2   3.2   M   bacon  DollarM

In [31]:
costs.pivot(index='item', columns='day')

ValueError: Index contains duplicate entries, cannot reshape

In [32]:
df

   age  name teacher  test1  test2
0   15  Adam   Ashby     95     80
1   16   Bob   Ashby     81     82
2   16  Dave   Jones     89     84
3   15  Fred   Jones    NaN     88

In [33]:
df.pivot(index='teacher', columns='name')

         age               test1               test2
name    Adam Bob Dave Fred  Adam Bob Dave Fred  Adam Bob Dave Fred
teacher
Ashby     15  16  NaN  NaN    95  81  NaN  NaN    80  82  NaN  NaN
Jones    NaN NaN   16   15   NaN NaN   89  NaN   NaN NaN   84   88

In [34]:
costs.duplicated(subset=['day', 'item'])

0    False
1    False
2     True
dtype: bool

In [35]:
costs

   cost day    item    store
0   2.5   M   bacon   SuperS
1   4.5   M  cheese  DollarM
2   3.2   M   bacon  DollarM

In [36]:
costs.pivot_table(index='item', columns='day')

        cost
day        M
item
bacon   2.85
cheese  4.50

In [37]:
costs.pivot_table(index='item', columns='day', aggfunc=[max, len])

        max           len
       cost    store cost store
day       M        M    M     M
item
bacon   3.2   SuperS    2     2
cheese  4.5  DollarM    1     1

In [38]:
costs.pivot_table(index='item', columns='day', margins=True)

        cost
day        M   All
item
bacon   2.85  2.85
cheese  4.50  4.50
All     3.40  3.40

In [39]:
costs.pivot_table(index='item', columns='day', aggfunc=[max, len], margins=True)

        max                         len
       cost         store          cost     store
day       M  All        M      All    M All     M All
item
bacon   3.2  3.2   SuperS   SuperS    2   2     2   2
cheese  4.5  4.5  DollarM  DollarM    1   1     1   1
All     4.5  4.5   SuperS   SuperS    3   3     3   3