# Adding Columns

In [1]:
import pandas as pd

In [2]:
json_data = '{"3PA":{"0":11.1,"1":8.1,"2":7.9,"3":7.7,"4":4.7},"3PM":{"0":5.1,"1":3.6,"2":3.3,"3":3.5,"4":2.1},"year":{"0":"2015-2016","1":"2014-2015","2":"2013-2014","3":"2012-2013","4":"2011-2012"}}'
df = pd.read_json(json_data)

In [3]:
df

    3PA  3PM       year
0  11.1  5.1  2015-2016
1   8.1  3.6  2014-2015
2   7.9  3.3  2013-2014
3   7.7  3.5  2012-2013
4   4.7  2.1  2011-2012

In [4]:
df['PTS'] = [32, 23.8, 24, 22.9, 14.7]

In [5]:
df

    3PA  3PM       year   PTS
0  11.1  5.1  2015-2016  32.0
1   8.1  3.6  2014-2015  23.8
2   7.9  3.3  2013-2014  24.0
3   7.7  3.5  2012-2013  22.9
4   4.7  2.1  2011-2012  14.7

In [6]:
df.PTS

0    32.0
1    23.8
2    24.0
3    22.9
4    14.7
Name: PTS, dtype: float64

In [7]:
df.Team = 'Golden State'

In [8]:
df

    3PA  3PM       year   PTS
0  11.1  5.1  2015-2016  32.0
1   8.1  3.6  2014-2015  23.8
2   7.9  3.3  2013-2014  24.0
3   7.7  3.5  2012-2013  22.9
4   4.7  2.1  2011-2012  14.7

In [9]:
df['Team'] = 'Golden State'

In [10]:
df

    3PA  3PM       year   PTS          Team
0  11.1  5.1  2015-2016  32.0  Golden State
1   8.1  3.6  2014-2015  23.8  Golden State
2   7.9  3.3  2013-2014  24.0  Golden State
3   7.7  3.5  2012-2013  22.9  Golden State
4   4.7  2.1  2011-2012  14.7  Golden State

In [11]:
df.loc[:,"League"] = 'NBA'

In [12]:
df

    3PA  3PM       year   PTS          Team League
0  11.1  5.1  2015-2016  32.0  Golden State    NBA
1   8.1  3.6  2014-2015  23.8  Golden State    NBA
2   7.9  3.3  2013-2014  24.0  Golden State    NBA
3   7.7  3.5  2012-2013  22.9  Golden State    NBA
4   4.7  2.1  2011-2012  14.7  Golden State    NBA