In [1]:
import pandas as pd
# data from http://stats.nba.com/player/#!/201939/?p=stephen-curry

In [2]:
df = pd.DataFrame([{'year':'2015-2016', '3PA': 11.1, '3PM': 5.1}])

In [3]:
df

    3PA  3PM       year
0  11.1  5.1  2015-2016

In [4]:
df2 = pd.DataFrame({'3PA': [8.1, 7.9, 7.7],
                   '3PM': [3.6, 3.3, 3.5],
                   'year': '2014-2015,2013-2014,2012-2013'.split(',')})

In [5]:
df2

   3PA  3PM       year
0  8.1  3.6  2014-2015
1  7.9  3.3  2013-2014
2  7.7  3.5  2012-2013

In [7]:
df.append(df2)

    3PA  3PM       year
0  11.1  5.1  2015-2016
0   8.1  3.6  2014-2015
1   7.9  3.3  2013-2014
2   7.7  3.5  2012-2013

In [8]:
df.append(df2, ignore_index=True)

    3PA  3PM       year
0  11.1  5.1  2015-2016
1   8.1  3.6  2014-2015
2   7.9  3.3  2013-2014
3   7.7  3.5  2012-2013

In [9]:
pd.concat([df, df2])

    3PA  3PM       year
0  11.1  5.1  2015-2016
0   8.1  3.6  2014-2015
1   7.9  3.3  2013-2014
2   7.7  3.5  2012-2013

In [10]:
pd.concat([df, df2], ignore_index=True)

    3PA  3PM       year
0  11.1  5.1  2015-2016
1   8.1  3.6  2014-2015
2   7.9  3.3  2013-2014
3   7.7  3.5  2012-2013

In [11]:
df3 =pd.concat([df, df2], ignore_index=True)

In [12]:
df3

    3PA  3PM       year
0  11.1  5.1  2015-2016
1   8.1  3.6  2014-2015
2   7.9  3.3  2013-2014
3   7.7  3.5  2012-2013

In [14]:
df3.iloc[3] = [4.7, 2.1, '2011-2012']

In [15]:
df3

    3PA  3PM       year
0  11.1  5.1  2015-2016
1   8.1  3.6  2014-2015
2   7.9  3.3  2013-2014
3   4.7  2.1  2011-2012

In [18]:
df3.loc[4] = [4.7, 2.1, '2011-2012']

In [19]:
df3

    3PA  3PM       year
0  11.1  5.1  2015-2016
1   8.1  3.6  2014-2015
2   7.9  3.3  2013-2014
3   4.7  2.1  2011-2012
4   4.7  2.1  2011-2012