# Applying Functions

In [1]:
import pandas as pd

In [2]:
df = pd.read_json('{"3PA":{"0.0":11.1,"1.0":8.1,"2.0":7.9,"3.0":7.7,"4.0":4.7},"3PM":{"0.0":5.1,"1.0":3.6,"2.0":3.3,"3.0":3.5,"4.0":2.1},"year":{"0.0":"2015-2016","1.0":"2014-2015","2.0":"2013-2014","3.0":"2012-2013","4.0":"2011-2012"},"PTS":{"0.0":32.0,"1.0":23.8,"2.0":24.0,"3.0":22.9,"4.0":14.7},"League":{"0.0":"NBA","1.0":"NBA","2.0":"NBA","3.0":"NBA","4.0":"NBA"},"Team":{"0.0":"Golden State","1.0":"Golden State","2.0":"Golden State","3.0":"Golden State","4.0":"Golden State"}}')

In [3]:
df

    3PA  3PM League   PTS          Team       year
0  11.1  5.1    NBA  32.0  Golden State  2015-2016
1   8.1  3.6    NBA  23.8  Golden State  2014-2015
2   7.9  3.3    NBA  24.0  Golden State  2013-2014
3   7.7  3.5    NBA  22.9  Golden State  2012-2013
4   4.7  2.1    NBA  14.7  Golden State  2011-2012

In [7]:
df['3PM'] / df['3PA'] * 100

0    45.945946
1    44.444444
2    41.772152
3    45.454545
4    44.680851
dtype: float64

In [8]:
def percent(vals):
    made, attempt = vals
    return made / attempt * 100

df[['3PM', '3PA']].apply(percent, axis=1)

0    45.945946
1    44.444444
2    41.772152
3    45.454545
4    44.680851
dtype: float64

In [9]:
df['3PP'] = df[['3PM', '3PA']].apply(percent, axis=1)

In [10]:
df

    3PA  3PM League   PTS          Team       year        3PP
0  11.1  5.1    NBA  32.0  Golden State  2015-2016  45.945946
1   8.1  3.6    NBA  23.8  Golden State  2014-2015  44.444444
2   7.9  3.3    NBA  24.0  Golden State  2013-2014  41.772152
3   7.7  3.5    NBA  22.9  Golden State  2012-2013  45.454545
4   4.7  2.1    NBA  14.7  Golden State  2011-2012  44.680851

In [11]:
df['3PP'].apply(lambda x: x/100)

0    0.459459
1    0.444444
2    0.417722
3    0.454545
4    0.446809
Name: 3PP, dtype: float64