# Iteration of Dataframes

In [1]:
import pandas as pd

In [2]:
df = pd.read_json('{"index":{"0":0.0,"1":1.0,"2":2.0,"3":3.0,"4":4.0,"5":0.0},"%3 PTS":{"0":0.478125,"1":0.4537815126,"2":0.4125,"3":0.4585152838,"4":0.4285714286,"5":null},"3PA":{"0":11.1,"1":8.1,"2":7.9,"3":7.7,"4":4.7,"5":null},"3PM":{"0":5.1,"1":3.6,"2":3.3,"3":3.5,"4":2.1,"5":null},"League":{"0":"NBA","1":"NBA","2":"NBA","3":"NBA","4":"NBA","5":null},"PTS":{"0":32.0,"1":23.8,"2":24.0,"3":22.9,"4":14.7,"5":null},"Team":{"0":"Golden State","1":"Golden State","2":"Golden State","3":"Golden State","4":"Golden State","5":null},"per3":{"0":47.8125,"1":45.3781512605,"2":41.25,"3":45.8515283843,"4":42.8571428571,"5":null},"year":{"0":"2015-2016","1":"2014-2015","2":"2013-2014","3":"2012-2013","4":"2011-2012","5":"2016-2017"},"GP":{"0":25.0,"1":80.0,"2":78.0,"3":78.0,"4":26.0,"5":null}}')

In [3]:
df

,%3 PTS,3PA,3PM,GP,League,PTS,Team,index,per3,year
0,0.478125,11.1,5.1,25,NBA,32.0,Golden State,0,47.812500,2015-2016
1,0.453782,8.1,3.6,80,NBA,23.8,Golden State,1,45.378151,2014-2015
2,0.412500,7.9,3.3,78,NBA,24.0,Golden State,2,41.250000,2013-2014
3,0.458515,7.7,3.5,78,NBA,22.9,Golden State,3,45.851528,2012-2013
4,0.428571,4.7,2.1,26,NBA,14.7,Golden State,4,42.857143,2011-2012
5,NaN,NaN,NaN,NaN,None,NaN,None,0,NaN,2016-2017

In [4]:
for thing in df:
    print(thing, type(thing))
    break

%3 PTS <class 'str'>

In [5]:
for col_name in df:
    print(col_name)

%3 PTS
3PA
3PM
GP
League
PTS
Team
index
per3
year

In [6]:
list(df)

['%3 PTS',
 '3PA',
 '3PM',
 'GP',
 'League',
 'PTS',
 'Team',
 'index',
 'per3',
 'year']

In [7]:
for thing in df.iteritems():
    print(thing)
    break

('%3 PTS', 0    0.478125
1    0.453782
2    0.412500
3    0.458515
4    0.428571
5         NaN
Name: %3 PTS, dtype: float64)

In [8]:
for name, col in df.iteritems():
    print(name, col)
    break

%3 PTS 0    0.478125
1    0.453782
2    0.412500
3    0.458515
4    0.428571
5         NaN
Name: %3 PTS, dtype: float64

In [9]:
for tup in df.itertuples():
    print(tup)
    break

(0.0, 0.47812499999999997, 11.1, 5.0999999999999996, 25.0, 'NBA', 32.0, 'Golden State', 0, 47.8125, '2015-2016')

In [10]:
df

,%3 PTS,3PA,3PM,GP,League,PTS,Team,index,per3,year
0,0.478125,11.1,5.1,25,NBA,32.0,Golden State,0,47.812500,2015-2016
1,0.453782,8.1,3.6,80,NBA,23.8,Golden State,1,45.378151,2014-2015
2,0.412500,7.9,3.3,78,NBA,24.0,Golden State,2,41.250000,2013-2014
3,0.458515,7.7,3.5,78,NBA,22.9,Golden State,3,45.851528,2012-2013
4,0.428571,4.7,2.1,26,NBA,14.7,Golden State,4,42.857143,2011-2012
5,NaN,NaN,NaN,NaN,None,NaN,None,0,NaN,2016-2017

In [12]:
for thing in df.iterrows():
    print(thing, type(thing))
    break

(0.0, %3 PTS        0.478125
3PA               11.1
3PM                5.1
GP                  25
League             NBA
PTS                 32
Team      Golden State
index                0
per3           47.8125
year         2015-2016
Name: 0.0, dtype: object) <class 'tuple'>

In [13]:
len(thing)

2

In [15]:
thing[0] # index

0.0

In [16]:
thing[1] # series

%3 PTS        0.478125
3PA               11.1
3PM                5.1
GP                  25
League             NBA
PTS                 32
Team      Golden State
index                0
per3           47.8125
year         2015-2016
Name: 0.0, dtype: object

In [17]:
for idx, row in df.iterrows():
    print(idx, row)
    break

0.0 %3 PTS        0.478125
3PA               11.1
3PM                5.1
GP                  25
League             NBA
PTS                 32
Team      Golden State
index                0
per3           47.8125
year         2015-2016
Name: 0.0, dtype: object