In [1]:
from io import StringIO

import numpy as np
import pandas as pd

In [2]:
data = {'Birth': ['9-1-1900', '1-3-1904', '2-28-1889'],
       'Name': [ 'Fred', 'Márge', 'Henry'],
       'Color': ['Red', 'Blue', None],
       'Number': [3, 1, 9]} # option-e a á
df = pd.DataFrame(data)

In [3]:
df

       Birth Color   Name  Number
0   9-1-1900   Red   Fred       3
1   1-3-1904  Blue  Márge       1
2  2-28-1889  None  Henry       9

## Numpy

In [54]:
df

       Birth Color   Name  Number
0 1900-09-01   Red   Fred       3
1 1904-01-03  Blue  Márge       1
2 1889-02-28  None  Henry       9

In [55]:
df.as_matrix()

array([[Timestamp('1900-09-01 00:00:00'), 'Red', 'Fred', 3],
       [Timestamp('1904-01-03 00:00:00'), 'Blue', 'Márge', 1],
       [Timestamp('1889-02-28 00:00:00'), None, 'Henry', 9]], dtype=object)

In [58]:
np_df = pd.DataFrame(df.as_matrix(), columns=['Birth', 'Color', 'Name', 'Number'])

In [59]:
np_df.dtypes

Birth     object
Color     object
Name      object
Number    object
dtype: object

In [60]:
np_df['Number'] = np_df.Number.astype(int)

In [61]:
np_df['Birth'] = pd.to_datetime(np_df.Birth)

In [62]:
np_df.dtypes

Birth     datetime64[ns]
Color             object
Name              object
Number             int64
dtype: object